@font-face {
    font-family: 'TerminusTTFWindows-4.49.3';
    src: url('../Fonts/TerminusTTFWindows-4.49.3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerminusTTFWindows-4.49.3';
    src: url('../Fonts/TerminusTTFWindows-Italic-4.49.3.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TerminusTTFWindows-4.49.3';
    src: url('../Fonts/TerminusTTFWindows-Bold-4.49.3.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TerminusTTFWindows-4.49.3';
    src: url('../Fonts/TerminusTTFWindows-Bold-Italic-4.49.3.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}